
<table class="tborder" cellpadding="6" cellspacing="0" border="0" width="100%" align="center">
<tbody><tr>
  <td class="tcat">Contact Us</td>
</tr>
<tr>
  <td class="panelsurround" align="center">
    <h3>Mission</h3>
<p>
¥	Blood donation is a very important process in our society, since hospitals are in constant need of blood for the people that has severe injuries and need an operation.
¥	So we decided to build a website that help people to get easy and fast blood of any amount.
¥	Also it helps the people that wants to donate blood to find the earliest event that will occur to donate blood.

</p>
<h3>Problem Statement</h3>
<p>
¥	The current system that is using by the blood bank is manual system. With the manual system, there are problems in managing the donors' records.
¥	The records of the donor might not be kept safely and there might be missing of donor's records due to human error or disasters

</p>
  </td>
</tr>
</tbody>
</table>
