<br/><br/>
<form action="login.php" method="post">
  <table class="tborder" cellpadding="6" cellspacing="0" border="0" width="70%" align="center">
  <tr>
  	<td class="tcat">Log In</td>
  </tr>
  <tr>
  	<td class="panelsurround" align="center">
  	<div class="panel">
  		<div align="left">
  			<div>
          <center><a href="register.php"><img src="template/images/misc/login.png" width="100px" height="100px" alt="" /></a></center>
        </div>


  			<fieldset class="fieldset">
  				<legend>Log in</legend>
  				<table cellpadding="0" cellspacing="3" border="0" align="center">
  				<tr>
  					<td>User Name:<br /><input type="text" class="bginput" name="login_username" size="50" required=""/></td>
  				</tr>
  				<tr>
  					<td>Password:<br /><input type="password" class="bginput" name="login_password" size="50" required="" /></td>
  				</tr>

  				<tr>
  					<td align="center">
  						<input type="submit"  name="submit" class="button" value="Log in"  />
  						<input type="reset" class="button" value="Reset" />
  					</td>
  				</tr>
  				</table>
  			</fieldset>

  			<div class="smallfont">If you dont have an account please <a href="register.php" rel="nofollow">Register</a>.</div>
  			</form>


  		</div>
  	</div>

  	</td>
  </tr>
  </table>
 <br/><br/><br/>

</form>
